# switch between: mongo | sqlite
DB_PROVIDER=sqlite

# sqlite settings (used when DB_PROVIDER=sqlite)
SQLITE_DB_PATH=./data/recipes.sqlite

# mongo settings (used when DB_PROVIDER=mongo)
MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB=recipes
